#chapter {
  display: flex;
  flex-direction: column;
}
#chapter-tip > .card {
  height: calc(auto + 1rem);
}
#chapter-tip > .card > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
#chapter-tip > .card > div > i {
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}
#chapter-tip > .card > div:last-of-type {
  margin-bottom: 1rem;
}
#chapter-tip > .card > div:last-of-type > .button {
  margin-left: 1rem;
}
#chapter-task > .card {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chapter-task > .card > div {
  display: flex;
  padding: 0 1em 0 0.4em;
}
#chapter-task > .card > div > p {
  margin: 6px 0 0 0;
}
#chapter-task > .card > p, #chapter-tip > .card > div > p {
  padding: 0 0 0 1em;
}
#chapter-chat > div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#chapter-chat > div > img {
  height: 150px;
}
#chapter-chat > div > div {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
}
#chapter-chat > div > div > h5 {
  margin: 1rem 0 0 0;
}
.chapter-content {
  flex: 1 1 auto;
}
.chapter-content > div {
  height: 93%;
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chapter-content > div > h6 {
  margin: 0.5rem 0 0.5rem 0;
}
.disabled-button-chapter {
  background-color: #676565;
  display: inline-block !important;
  align-items: none;
}
#chapter-signup-button {
  background-color: #676565;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bad-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#bad-form > div {
  display: flex;
  flex-direction: row;
}
#bad-form > div > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#name {
   overflow-y: scroll;
}
select option {
  height: 10px;
}
#surname-controls, #email-controls, #password-controls-one {
  position: absolute;
  align-self: flex-end;
  padding: 1.5em 0.5em 1.5em 0;
}
#alphabet > p {
  display: inline;
}
#gender {
  flex-direction: row !important;
  justify-content: space-evenly;
}
.character-border {
  border: 1px solid #D52916;
}